.content {
  ul {
    padding-left: 40px;
    list-style-type: disc;
  }
}

.image {
  height: auto;
  max-height: 600px;
  object-fit: cover;
  border-radius: 20px;
}

.text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text-dark);
  }

  p,
  li {
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-text-dark);
  }
}
