
.doctor_header {
  display: flex;
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  gap: 25px;

  @media (max-width: 1550px) {
    padding-left: 70px;
    padding-right: 30px;
  }

  @media (max-width: 990px) {
    flex-direction: column;
    padding-left: 30px;
  }

  .doctor_image {
    width: 275px;
    height: 250px;
    border-radius: 8px;

    .doctors_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    @media (max-width: 1550px) {
      flex: 0.4;
    }

    @media (max-width: 1024px) {
      flex: 0.6;
    }

    @media (max-width: 990px) {
    }
  }

  .doctor_info {
    width: 100%;
    .doctor_position {
      display: flex;
    }

    .doctor_about {
      font-size: 24px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
  .additional {
    display: flex;
  }
}
.subtitle {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  font-size: 32px;
  line-height: 44.8px;
}