.header{
    padding-top: 50px;
    padding-bottom: 40px;
    background: linear-gradient(to right,var(--color-dark-blue),var(--color-sky-blue));
    color: #fff;
}

.breadcrumbs{
    margin-bottom: 16px;
}

.title{
    margin: 0;
    font-size: 48px;
    line-height: 1.4;
    word-wrap: break-word;
}

@media only screen and (max-width: 800px) {
    .title{
        font-size: 32px;
    }
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 28px;
    }
}