.card{
    width: 100%;
    max-width: 517px;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--color-bg-grey);
}

.title{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    color: var(--color-text-dark);
}

.stars{
    margin-bottom: 16px;
}

.text{
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-text-dark);
}

@media only screen and (max-width: 1540px) {
    .title{
        font-size: 22px;
    }

    .text{
        font-size: 18px;
    }
}