.card{
    width: unset;
}

.swiper{
    width: 100%;
    max-width: 1600px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.slide{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

@media (max-width: 1540px) {
    .swiper{
        max-width: 1350px;
    }
}

@media (max-width: 1440px) {
    .swiper{
        max-width: 1250px;
    }
}


@media (max-width: 600px) {
    .card{
        max-width: 342px;
    }
}